#main {
    background-color: rgb(56, 108, 91);
}


#mainheader {
    text-align: center;
    background-color: rgb(182, 182, 124);
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;

}