#main {
    background-color: rgb(56, 108, 91);
}


#mainheader {
    text-align: center;
    background-color: rgb(182, 182, 124);
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;

}

#dataform1 {
    text-align: center;
    border-radius: 10px;
    background-color: antiquewhite;
    margin-left: 20%;
    margin-right: 20%;

}


#suggestionbox {
    text-align: center;
    border: none;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
}



