
#MainHeading {
    text-align: center;
    font-family: "fantasy", copperplate;
    font-size: 60px;
    text-shadow: 2px, 2px black ;

}

#PartLHeading {
    text-align: center;
    color: #111; font-family: 'Open Sans Condensed', sans-serif; font-size: 50px; font-weight: 700; line-height: 64px; margin: 0 0 0; padding: 20px 30px; text-align: center; text-transform: uppercase;
    background-color: #f9dd94;
    border-radius: 5px;
}
#grad {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
  

 #partslist li {
    list-style-type: none;
    counter-increment: item;
    padding: 7px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  #partslist li:before {
    content: counter(item);
    margin-right: 5px;
    font-size: 80%;
    background-color: #f9dd94;
    color: #7eb4e2;
    font-weight: bold;
    padding: 3px 10px;
    border-radius: 3px;
    margin-bottom: 10px;
  }


  #ProccessHeading {
    text-align: center;
  }

  #proccesslist li {
    list-style-type: none;
    counter-increment: item;
    padding: 7px;
    font-family: 'Courier New', Courier, monospace;

  }

  #proccesslist li:before {
    content: counter(item);
    margin-right: 5px;
    font-size: 180%;
    background-color: #f6674e;
    color: #07121b;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 20px;
    margin-bottom: 10px;

  }
      