#grad {
    background-color: black;
}

#pagelogo {
    color: white;
    font-size: 25px;
    margin-left: 10px;

}

.navMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.navMenu li{
    float: left;

  }
  
  .navMenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navMenu li a:hover {
    color: #3ac2fd;
  }
  



#MainHeading {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;    
    font-size: 60px;
    margin-left: 10%;
    margin-right: 10%;
    color: #fff;
    letter-spacing: -2px;
}

#K20Img {
display: block;
width: 600px;
border-radius: 40px;
padding: 2%;
margin-left: auto;
margin-right: auto;
}



#PartLHeading {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;    
    font-size: 50px; 
    letter-spacing: -2px;
    font-weight: 600; 
    line-height: 64px; 
    margin: 0 0 0; 
    padding: 20px 30px; 
    text-align: center; 
    text-transform: uppercase;
    border-radius: 5px;
    background-image: linear-gradient(to left, #c9b7fa, #a0ffdf);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}


#partslist {
    clear: both;
    list-style: none;
    padding-left: 2%;
    color: white;
    margin-left: 5rem;
  }
#partslist li {
    margin: 2em 0;
    padding-top: 1em;
    display: block;
    position: relative;
    counter-increment: inst;
  }
#partslist li::before {
    content: counter(inst);
    
    background-image: linear-gradient(to left, #c9b7fa, #f4a0ff);
    color: rgb(1, 1, 1);
    
    font-size: 1em;
    font-weight: 700;
    font-style: italic;
    text-shadow: 1px 1px rgba(255, 150, 0, 0.5);
    
    border-radius: 0 0.675em 0.675em 0;
    font-size: 1.5em;
    text-align: center;
    
    padding-top: 0;
    padding-left: 0%;
    left: -9%;
    top: -0.65em;
    height: 1.35em;
    width: 1.35em;
    position: absolute;
    
    transition: all 0.2s ease-in-out;
    

  }
  @media (min-width: 33em) {
    #partslist li:before {
      border-radius: 50%;
      font-size: 1.5em;
      height: 1.35em;
      margin-left: 2.5%;
      padding-left: 0;
      padding-top: 0;
      top: -0.15em;
      width: 1.35em;
      z-index: -1;
    }
  }
    




  #ProccessHeading {
    position:relative;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans Condensed', sans-serif;    
    font-size: 50px; 
    font-weight: 600; 
    line-height: 64px; 
    padding: 20px 30px; 
    text-transform: uppercase;
    border-radius: 5px;
    background-image: linear-gradient(to left, #c9b7fa, #a0ffdf);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  #proccesslist .wrapper {
	max-width: 600px;
}

ul {
	list-style: none;
	padding: 0;
}

#proccesslist li + li {
	margin-top: 1rem;
}

#proccesslist li {
	display: flex;
    color: white;
	align-items: center;
	gap: 1rem;
	background: rgba(40, 38, 38, 0.716);
	padding: 1.5rem;
	border-radius: 1rem;
	width: calc(100% - 2rem);
	box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.1);
}

#proccesslist li::before {
	
}

#proccesslist li:nth-child(even) {
	flex-direction: row-reverse;
	background: rgba(23, 26, 23, 0.634);
	margin-right: -2rem;
	margin-left: 2rem;
}

#proccesslist li:nth-child(even)::before {
	transform: rotateY(180deg);
}
